header{
    height: 150px;
    text-align: center;
}

.background{
    height: 850px;
    background-image: url(../img/artificial-intelligence-3382507_960_720.jpg);
    background-size: cover; 
}