*{
    padding: 0;
    margin: 0;
    font-family: arial;
}

#alert{
    background-color:#f05;
    width: 90%;
    height: 50px;
    margin: 30px auto 0px auto;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

label,input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
}

form{
    width: 90%;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    margin: 30px auto;
}

input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
}

h2{
    text-align: center;
}

#esquerda{
    width: 35%;
    float: left;
}

#direita{
    width: 65%;
    float: left;
    height: 500px;
}

table{
    background-color: #ccc;
    width: 90%;
    margin: 30px auto;
}
tr{
    line-height: 30px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #eee;
}

tr:nth-child(even){
    background-color: rgb(178, 182, 178);
}

#titulo{
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-align: left;
    background-color: rgb(66, 71, 71);
    
}

th{
    padding-left: 30px;
}

td{
    padding: 0px 5px;
}

td.acao{
    width: 50px;
}

a{
    background-color: #fff;
    color:#000;
    padding: 5px;
    margin: 0px 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 2px #011;
    border-radius: 5px;
}